/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*  Devise Sign Up page form style */

body{
 background: image-url('landing-page-cover.jpg');
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-color: #464646 ;
}

#devise_registrations_new{
	border-radius: 10px;
	margin-top: 10%;
}

/*  Devise Sign In page form style */

#devise_sessions_new{
	border-radius: 10px;
	margin-top: 20%;
}

/*  CV form style */

#user_profile_form{
	margin-top: 15%;
	border-radius: 10px;
}

/* Landing page */

.landing-page{
	margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
}

/* Custom Buttons */

.custom-button {
  	border-radius: 5px;
  	padding: 15px 25px;
  	font-size: 22px;
  	text-decoration: none;
  	margin-top: 20px;
  	color: #fff;
  	position: relative;
  	display: inline-block;
}

.custom-button:active {
  	transform: translate(0px, 5px);
  	-webkit-transform: translate(0px, 5px);
  	box-shadow: 0px 1px 0px 0px;
}

.blue {
  	background-color: #55acee;
  	box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
  text-decoration: none;
  font-color: fff;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}
